  body{
    height: 100%;
     background-color: #3a3737;
    display: flex;
    justify-content: center;
 }
 .calculator{
    width: 200px;
     box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.542);
    border-radius: 10px;
    padding: 10px;
    background-color: #c0c0bd;
    margin-top: 25px;
 }
 .button-container{
width: 200px;
display: flex;
 flex-wrap: wrap;
 justify-content: center;
    
 }
 .button{
    height: 45px;
    width: 45px;
    margin: 5px;
    font-size: 14px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
 }
 input{
    height: 30px;
    margin: 0 10px;
     
 }


 @media (max-width:600px){

    .calculator{
        width: 270px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        margin-top: 100px;
     }
     .button-container{
        width: 220px;
        display: flex;
         flex-wrap: wrap;
         justify-content: center;
            
         }
         .button{
            height: 60px;
            width: 60px;
            margin: 5px;
            font-size: 14px;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
         }
         input{
            height: 40px;
            margin: 0 10px;
             width: 200px;
         }
        
 }
